:root{
    height:100%;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    display: block;
    --yellow:#FFC600;
    --dark-blue:#151E3F;
    --light-grey:#F6F6F6;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, input, pre, a, address, big, cite, code, del, em, img, strong, var, ol, ul, li, fieldset, form, label, legend, table, caption, tr, th, td, article, embed, footer, header, hgroup, menu, nav, output, button {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: inherit;
    font-family: inherit;
    vertical-align: baseline;
    box-sizing: inherit;
    outline: none;
}
body{
    font-size: 1.75rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--light-grey);
    color: black;
    min-height: 100%;
}
h1{
    font-size: 2.5em;
    color: var(--dark-blue);
    padding-left: 20px;
    font-weight: bold;
    padding-bottom: 0.25em;
}
h2{
    font-size: 2em;
    color: var(--dark-blue);
    padding-left: 20px;
    font-weight: bold;
    padding-bottom: 0.25em;
}
p{
    font-size: inherit;
    color: inherit;
    padding-bottom: 0.25em;
}
a{
    color:black;
    text-decoration: none;
}
button{
    display: block;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px 5px;
}
input{
    display: inline-block;
    padding: 3px 5px;
}
.main-wrap{
    background-color: var(--light-grey);
}
.nav{
    background-color: var(--dark-blue);
    position: -webkit-sticky;
    position: sticky;top: 0;
    height: 100px;
    margin: 0;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px var(--dark-blue);
}
.nav__list{
    display:flex;
    flex-flow: row nowrap;
    align-items: inherit;
    margin: 0 25px;
    align-items: center;
}
.nav__list--left{
    flex: 1 1 auto;
}
.nav__list--right{
    flex-direction: row-reverse;
    flex: 3 1 auto;
}
.nav__list-item{
    color: var(--light-grey);
    padding: 0 25px;
    /* border: 1px pink solid; */
    /* align-items: center;
    vertical-align: middle; */
}
.nav__list-item--text{
    font-size: 1.25em;
}
a.nav__list-item:hover{
    text-decoration: underline;
}
.nav__list-item--logo{
    width: auto;
    height: 100%;
    align-items: center;
    font-size: 0;
}
.logo{
    font-size:2em;
    color:var(--yellow);
}
.nav__list-item--searchbar{
    /* margin-left: 50px; */
    font-size: 0;
    flex-grow: inherit;
    text-align: right;
    /* height: 2rem; */
}
#searchbar{
    background-color: var(--dark-blue);
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    width: 100%;
    min-width: 150px;
    max-width: 500px;
    height: 2rem;
    border-bottom: 3px solid var(--yellow);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 2rem;
    padding: 3px;
    padding-bottom: 7px;
    color: var(--yellow);
}
.container{
    padding: 25px;
    margin: auto;
    background-color: var(--light-grey);
    max-width: 900px;
}
.content-item{
    padding: 15px 0;
    text-align: justify;
}
.button--big{
    margin: auto;
    color:var(--light-grey);
    background-color:var(--dark-blue);
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 1.25em;
    padding: 0.5em 1em;
}
.card-wrap{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
    justify-content: space-evenly;
}
.card{
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--dark-blue); */
    border-radius: 1.25em;
    background-color: var(--yellow);
    height: 300px;
    max-height: 300px;
    box-shadow: 5px 5px 5px #888;
}
.card:hover{
    /* box-shadow: inset 5px 5px 5px #888; */
    box-shadow: none;
}
.card:hover h1{
    text-decoration: underline;
}
.card__img{
    border-radius:1.25em 1.25em 0 0;
    overflow: hidden;
    flex-shrink: 3;
}
.card__text{
    flex: none;
    padding: 15px;
    text-align: left;
}
.card__img img{  
    border-radius:1.25em 1.25em 0 0;
    width: 100%;
    height: auto;
}
.card__text h1{
    font-size: 1.25em;
    padding-left: 0;
}
.newsletter-wrap{
    background-color: var(--dark-blue);
    padding: 20px;
}
.newsletter{
    margin: 25px 25%;
}
.newsletter h2{
    color: var(--light-grey);
}
.newsletter p{
    color: var(--light-grey);
}
.newsletter__email{
    text-align: center;
}
#email-nl__field{
    border-radius: 5px;
    margin: 10px;
    width: 300px;
}
/* #email-nl__field:invalid{
    color: red;
} */
#email-nl__submit{
    display: inline-block;
    margin: 10px;
}
#email-nl__submit:hover{
    color: var(--light-grey);
    background-color: var(--yellow);
}

.recette__img
{
    border-radius:1.25em 1.25em 0 0;
    overflow: hidden;
    flex-shrink: 3;
}
.recette__text{
    flex: none;
    padding: 15px;
    text-align: left;
}
.recette__img img{  
    border-radius:1.25em 1.25em 0 0;
    width: 100%;
    height: auto;
}
.recette__text h1{
    font-size: 1.25em;
    padding-left: 0;
}
 
.tableau{
    width: 800px;
    border-radius:4px;
    background-color: var(--dark-blue);
    margin: auto;
 
}   
 
.thead{
    background-color: var(--yellow);
    text-align: center;
    font-weight: bold;  overflow-x: 
}
 
.tbody{
    background-color: var(--yellow);
    text-align: center;
}
 
 
.etape
{
    margin-left: 600px;
    width: 600px;
    list-style-type: none;
}
 
.Ingredients
{
    list-style-type: none;
    float: left;
}
 
.Ingredients img
{
    width: 75px;
}
 
.numEtape
{
    font-size: 48px;
    text-shadow:0 0 5px #E73E01;
}
 
 

