:root{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    display: block;
    --yellow:#FFC600;
    --dark-blue:#151E3F;
    --light-grey:#F6F7F8;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, img, strong, var, ol, ul, li, fieldset, form, label, legend, table, caption, tr, th, td, article, embed, footer, header, hgroup, menu, nav, output, button {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: inherit;
    font-family: inherit;
    vertical-align: baseline;
    box-sizing: inherit;
}
body{
    font-size: 1.75rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    color: black;
}
.main-wrapper{
    background-color: var(--light-grey);
}
.nav{
    background-color: var(--dark-blue);
    position: -webkit-sticky;
    position: sticky;top: 0;
    height: 100px;
    margin: 0;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav__list{
    display:flex;
    flex-flow: row nowrap;
    align-items: inherit;
    margin: 0 25px;
    align-items: center;
}
.nav__list--left{
    flex-grow: 0;
}
.nav__list--right{
    flex-direction: row-reverse;
    flex-grow: 3;
}
.nav__list-item{
    color: var(--light-grey);
    padding: 0 25px;
    /* border: 1px pink solid; */
    /* align-items: center;
    vertical-align: middle; */
}
.nav__list-item--text{
    font-size: 1.25em;
}
a.nav__list-item:hover{
    text-decoration: underline;
}
.nav__list-item--logo{
    width: auto;
    height: 100%;
    align-items: center;
    font-size: 0;
}
.logo{
    font-size:2em;
    color:var(--yellow);
}
.nav__list-item--searchbar{
    font-size: 0;
    flex-grow: inherit;
    text-align: right;
    /* height: 2rem; */
}
#searchbar{
    display: inline-block;
    flex-grow: inherit;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    width: 100%;
    min-width: 100px;
    max-width: 500px;
    height: 2rem;
}
.container{
    padding: 25px;
    margin: auto;
    background-color: var(--light-grey);
    max-width: 900px;
}
.content-item{
    padding: 25px 0;
    text-align: justify;
}
h1{
    font-size: 2.5em;
    color: var(--dark-blue);
    padding-left: 20px;
    font-weight: bold;
    padding-bottom: 0.25em;
}
a{
    color:black;
    text-decoration: none;
}
.button{
    display: block;
}
.button--big{
    margin: auto;
    color:var(--light-grey);
    background-color:var(--dark-blue);
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 1.25em;
    padding: 0.5em 1em;
}
.card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
    justify-content: space-evenly;
}
.card{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark-blue);
    border-radius: 1.25em;
    background-color: var(--yellow);
    height: 300px;
    max-height: 300px;
}
.card__img-wrap{
    border-radius:1.25em 1.25em 0 0;
    width: 100%;
    /* height: auto; */
    flex-shrink: 3;
    background-color: aquamarine;
}
.card__text-wrap{
    flex: none;
    padding: 15px;
    /* width: 100%; */
    /* height: auto; */

}
.card__img-wrap>img{  
    border-radius:1.25em 1.25em 0 0;
}
.card__text-wrap>h1{
    font-size: 1.25em;
    padding-left: 0;
}