:root{
    height:100%;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    display: block;
    --yellow:#FFC600;
    --dark-blue:#151E3F;
    --light-grey:#F6F6F6;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, input, pre, a, address, big, cite, code, del, em, img, strong, var, ol, ul, li, fieldset, form, label, legend, table, caption, tr, th, td, article, embed,  header, main, footer, hgroup, menu, nav, output, button {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: inherit;
    font-family: inherit;
    vertical-align: baseline;
    box-sizing: inherit;
    outline: none;
}
body{
    font-size: 1.75rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--light-grey);
    color: black;
    min-height: 100%;
}
h1{
    font-size: 2.5em;
    color: inherit;
    font-weight: bold;
    padding-bottom: 0.5em;
}
h2{
    font-size: 2em;
    color: inherit;
    padding-left: 1em;
    font-weight: bold;
    padding-bottom: 0.25em;
}
p{
    font-size: inherit;
    color: inherit;
    padding-bottom: 0.25em;
}
a{
    color:inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
button{
    display: block;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px 5px;
}
input{
    display: inline-block;
    padding: .1em .3em;
    margin: .5em;
    border-radius: .25em;
}
.main-wrap{
    position: relative;
    z-index: 1;
}
.index-main-wrap::before{
    content: "";
    display: block;
    position: absolute;
    min-height: 367px;
    height: attr(grad-height);
    width: 100%;
    top: 100px;
    left: 0;
    z-index: -1;
    background: linear-gradient(180deg, #151E3F 0%, #151E3F44 100%); 
}
/* @media (width<455px){
    .index-main-wrap::before{height:533px}
} */
header{
    background-color: var(--dark-blue);
    position: -webkit-sticky;
    position: sticky;top: 0;
    height: 100px;
    margin: 0;
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px var(--dark-blue);
    z-index: 99;
}
.nav{
    display:flex;
    flex-flow: row nowrap;
    align-items: inherit;
    margin: 0 25px;
    align-items: center;
}
.nav--left{
    flex: 1 1 auto;
}
.nav--right{
    flex-direction: row-reverse;
    flex: 3 1 auto;
}
.nav-item{
    position: relative;
    color: var(--light-grey);
    padding: 0 25px;
}
.nav-item--text{
    font-size: 1.25em;
}
.nav-item__hover{
    display: none;
    position: absolute;
    top: 1.5em;
    left: 30%;
    z-index: 1000;
    color: var(--yellow);
    background-color: #151E3FAA;
    list-style: none;
    margin-left: 0;
    border-radius: 0.5em;
    padding: .5em;
}
.nav-item--logo{
    width: auto;
    height: 100%;
    align-items: center;
    font-size: 0;
}
.logo{
    font-size:2em;
    color:var(--yellow);
}
.nav-item--searchbar{
    font-size: 0;
    flex-grow: inherit;
    text-align: right;
}
#searchbar{
    background-color: var(--dark-blue);
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    width: 100%;
    min-width: 150px;
    max-width: 500px;
    height: 2rem;
    border-bottom: 3px solid var(--yellow);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    font-size: 2rem;
    padding: 3px;
    padding-bottom: 7px;
    color: var(--yellow);
}
main{
    display: block;
    padding: 1.2em;
    margin: auto;
    max-width: 900px;
}
.content-item{
    padding: .7em 0;
    text-align: justify;
}
.content-item>p{
    text-indent: 2em;
}
.content-item--white{
    color: white;
}
.button--big{
    margin: auto;
    color:var(--light-grey);
    background-color:var(--dark-blue);
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 1.25em;
    padding: 0.5em 1em;
}
.button--big:hover{
    color: var(--yellow);
}
.card-wrap{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1em;
    justify-content: space-evenly;
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: 1.25em;
    background-color: var(--yellow);
    height: 300px;
    max-height: 300px;
    box-shadow: 5px 5px 5px #888;
}
.card:hover{
    /* box-shadow: inset 5px 5px 5px #888; */
    box-shadow: none;
}
.card:hover h1{
    text-decoration: underline;
}
.card__img{
    border-radius:1.25em 1.25em 0 0;
    overflow: hidden;
    flex-shrink: 3;
}
.card__text{
    flex: none;
    padding: .7em;
    text-align: left;
}
.card__img img{  
    border-radius:1.25em 1.25em 0 0;
    width: 100%;
    height: auto;
}
.card__text h1{
    font-size: 1.25em;
    padding-left: 0;
}
footer{
    background-color: var(--dark-blue);
    padding: 1em;
    text-align: center;
}
#newsletter{
    margin: 25px 25%;
    text-align: left;
}
#newsletter h2{
    color: var(--light-grey);
}
#newsletter p{
    color: var(--light-grey);
}
.newsletter__email{
    text-align: center;
}
/* input[type=text],input[type=email],input[type=password]{
    width: 300px;
} */
/* input[type=text]:invalid,input[type=email]:invalid,input[type=password]:invalid{
    color: red;
} */
input[type=submit]:hover{
    color: var(--light-grey) !important;
    background-color: var(--yellow) !important;
}
.about{
    display: inline-block;
    font-size: .7em;
    color: #555;
}
.about a::before{
    content: "";
    display: inline-block;
    height: .5em;
    width: .5em;
    margin: 0 .5em 0 .5em;
    background-color: #555;
    border-radius: 50%;
    vertical-align: middle;
}
.about a:hover{
    text-decoration: underline;
}
.about img{
    height: 1.2em;
    vertical-align: sub;
}
#register{
    position: relative;
    margin-top: 27px;
    margin-bottom: 27px;
    padding: 25px;
    border-radius: 1.25em;
    background-color: var(--light-grey);
    box-shadow: 5px 5px 5px #888;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    align-items: baseline;
}
.register-field{
    grid-column: span 2;
    display: flex;
    flex-wrap: wrap;   
    gap: 10px; 
}
.register-field input{
    margin: 0;
    flex-grow: 5;
    width: 50px;
}
#register>h2{
    grid-column: span 4;
    justify-self: start;
    padding: 0 0 10px 30px;
}
#register label{
    margin-right: 10px;
    font-weight: lighter;
}
#register input[type=submit]{
    background-color: var(--dark-blue);
    color: var(--light-grey);
    grid-column: span 4;
    justify-self: center;
    width: min-content;
    padding: .5em;
}
#connectinstead{
    position: absolute;
    top: 5%;
    left: 85%;
}
/* #connectinstead::before{
    content:"Vous avez déja un compte ?"
} */
#connectinstead:hover{
    color: var(--yellow);
}
/* ------------------------------ */
.selectdiv{
    position: relative;
    font-size: .9em;
    width: 100%;
}
.selectdiv select{
    display: none;
}
.newselect{
    background-color: var(--dark-blue);
    border-radius: .25em;
}
.newselect::after {
    position: absolute;
    content: "";
    top: 18px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #F6F6F6 transparent transparent transparent;
}
.newselect.select-arrow-active::after {
    border-color: transparent transparent #F6F6F6 transparent;
    top: 10px;
}
.select-items {
    position: absolute;
    background-color: var(--dark-blue);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    height: 300px;
    overflow-y: scroll;
    border-radius: 0 0 .25em .25em;
}
.select-items div,.newselect {
    color: var(--light-grey);
    padding: .4em .8em;
    border: 3px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
    cursor: pointer;
}
.select-hide{
    display: none;
}
.select-radius{
    border-radius: .25em .25em 0 0 !important;
}
.select-items div:hover, .selected {
    background-color: rgba(0, 0, 0, 0.1);
}